.btnPosition {
    text-align: center;
}

.pageBorder {
    border: solid 1px blueviolet;
    padding: 5%;
    margin-bottom: 5%;
}

footer {
    background-color: green;
    color: #fafafa;
    padding: 2%;
}

footer i{
    color: #fafafa;;
}

@media only screen and (max-width:450px){
    footer i {
        color: #fafafa;;
    }

    footer {
        font-size: 0.8rem;
        text-align: left;
    }
}