/* 'Home' page */
.masthead {
    margin-top: 6rem;
    margin-bottom: 6rem;
}





/* 'Submissiont' page, 'Edit' page, 'View all recipes' page */
.submission, .boardview, .allRecipes {
    background-image: url('/static/img/brocoli.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
}

div.submitBox, div.boardviewBox, div.allRecipesBox {
    border-radius: 4px;
    background-color: rgba(248, 248, 245, 0.808);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.pageBorder {
    border: solid 1px rgb(101, 46, 148);
    padding: 5%;
    margin-bottom: 5%;
}

.btnPosition {
    text-align: center;
}

div#previewImg_div img, .submission #uploaded-image {
    object-fit: inherit;
    width: 100%;
    height: 300px;
}








/* 'Show all recipes' page*/
a.remove-hyperlink,
a.remove-hyperlink:hover {
  color: inherit;
  text-decoration: none;
}

#cardEffect {
    transition: 0.5s ease;
}

#cardEffect:hover {
    transform: scale(1.1);
}

.allRecipes img.card-img-top {
    object-fit: inherit;
    width: 100%;
    height: 200px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}





/* footer */
footer {
    background-color: green;
    color: #fafafa;
}

footer i{
    color: #fafafa;;
}

footer .email {
     font-size: 1.5rem;
}

@media only screen and (max-width:450px){
    footer i {
        color: #fafafa;;
    }

    footer .copyright {
        font-size: 0.8rem;
        text-align: left;
    }
}