/* To give design effect across templates */
.masthead, .submission, .boardview, .allRecipes, .deletion {
    background-image: url('/static/img/brocoli.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: bottom;  
}

div.submitBox, div.boardviewBox, div.allRecipesBox, div.deletionBox {
    border-radius: 4px;
    background-color: rgba(248, 248, 245, 0.808);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

div.mastheadBox {
    border-radius: 4px;
    background-color: rgba(248, 248, 245, 0.808);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.pageBorder {
    border: solid 1px rgb(101, 46, 148);
    padding: 5%;
    margin-bottom: 5%;
}

.btnPosition {
    text-align: center;
}

div#previewImg_div img, .submission #uploaded-image {
    object-fit: contain;
    width: 100%;
    height: 150px;
}





/* 'Home' page */
.homeBox {
    padding-top: 0;
    padding-bottom: 0.25rem;
}

.button {
    background-color: olivedrab;
    border: solid white 1px;
    color: white;
    padding: 0.8rem 0.8rem; 
    display: inline-block;
    font-size: 0.99rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

 



/* Mobile responsiveness for 'Submission' Page */
@media screen and (max-width: 760px) {    
    .btn-warning {
        display: flex;
        justify-content: center;
    }

    .pageBorder {
    border: solid 1px rgba(100, 46, 148, 0);
    padding: 0%;
    margin-bottom: 5%;
    }
}

@media screen and (max-width: 800px) {
    .boardview h2 {
        text-align: center;
    }

}





/* Alll the button sizes across templates to be responsive*/
@media screen and (max-width: 330px) {    
    .btn-info {
       width: 45%;
       font-size: 0.4rem;
    }

    .btn-dark {
        width: 45%;
        font-size: 0.4rem;
    }

    .btn-success {
        width: 45%;
        font-size: 0.4rem;
    }

    .btn-warning {
        font-size: 0.4rem;
    }

}





/* 'Show all recipes' page*/
a.remove-hyperlink,
a.remove-hyperlink:hover {
  color: inherit;
  text-decoration: none;
}

#cardEffect {
    transition: 0.5s ease;
}

#cardEffect:hover {
    transform: scale(1.1);
}

.allRecipes img.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination {
    justify-content: center;
}

.pagination a {
  color: black;
  text-decoration: none;
  transition: background-color .3s;
  border: solid rgb(224, 223, 223) 1px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 8px 20px;
}

.pagination b {
  background-color: #9acd32;
  color: white;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a:hover:not(b) {
    background-color: #ddd;
}

a.nav-item.nav-link:hover { 
    color: rgb(34, 146, 68) !important; 
}

.navbar-light .navbar-nav .nav-link:active {
    color: purple !important;
}

.textTitle {
    text-align: right;
}

@media screen and (max-width: 580px) { 
    .textTitle {
        text-align: center;
        margin-top: 25px;
    }
}





/* To hide the copyright of DISCUS indicated in the footer, for better design purpose */
#disqus_thread {
  position: relative;
  border-bottom: solid 2px purple;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 5.3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(248, 248, 245);
}

p.comment {
    margin-top: 7rem;
    margin-bottom: 3rem;
    border-bottom: solid 2px purple;
    padding-bottom: 0.5rem;
}





/* footer */
footer {
    background-color: green;
    color: #fafafa;
}

footer i{
    color: #fafafa;;
}

footer .email {
     font-size: 1.5rem;
}

@media only screen and (max-width:450px){
    footer i {
        color: #fafafa;;
    }

    footer .copyright {
        font-size: 0.8rem;
        text-align: left;
    }
}