{% extends 'layout.template.html' %}

{% block title %}Receipe ｜ {{recipe.title}}{% endblock %}

{%block content%}
<section class="boardview">
    <div class="container py-5">
        <div class="boardviewBox">

            <h1 class="text-center mb-5">Cookbooker's recipe</h1>
            <div class="pageBorder">
                <div class="card">
                    <h4 class="card-header text-center">{{recipe.title}}</h4>
                    <div class="card-body">   
                        <img class="card-img-top" src="{{recipe.uploaded_file_url}}" alt="Recipe Image"/>
                        <br><br>
                        <blockquote class="blockquote mb-0 text-muted text-center"><p>"{{recipe.about}}"</p></blockquote>
                        <p class="card-text">Ingredients :</p>
                        <p>{{recipe.ingredients}}</p>
                        <p class="card-text">Directions :</p>
                        <p>{{recipe.directions}}</p>
                    </div>   
                </div>
            </div>
            
            <div class="btnPosition">
                <a class="btn btn-info mt-5 mb-5 px-4" href="{{ url_for('update_recipe', recipe_id=recipe._id) }}">Edit</a>
                <a class="btn btn-info mt-5 mb-5 px-3" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
            </div>

        </div>
    </div>
</section>
{% endblock %}