{% extends 'layout.template.html' %}

{% block title %}Receipe ｜ {{recipe.title}}{% endblock %}

{%block content%}
<section class="boardview">
    <div class="container py-5">
        <div class="boardviewBox">

            <div class="row">
                <div class="col-sm">
                    <h2 class="mb-5">Cookbooker's recipe</h2>
                    <div class="pageBorder">
                        <div class="card">
                            <h2 class="card-header text-center py-4">{{recipe.title}}</h2>
                            <div class="card-body">

                                {% if recipe.uploaded_file_url %}
                                    <img class="card-img-top" src="{{recipe.uploaded_file_url}}" alt="Recipe Image"/>
                                    <br><br>
                                {% endif %}

                                <blockquote class="blockquote py-5 text-muted text-center"><p>"{{recipe.about}}"</p></blockquote>
                                <p class="h5 card-text mt-5">Cuisine</p>
                                <p class="mb-5">{{recipe.cuisine.name}}</p>
                                <p class="h5 card-text mt-5">Ingredients</p>
                                <p>{{recipe.ingredients}}</p>

                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="h5 card-text mt-5">Prep Time</p>
                                        <p>{{recipe.prep_time}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="h5 card-text mt-5">Cook Time</p>
                                        <p>{{recipe.cook_time}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="h5 card-text mt-5">Number of Servings</p>
                                        <p>{{recipe.servings}}</p>
                                    </div>
                                </div>




                                <p class="h5 card-text mt-5">Directions</p>
                                <p class="mb-5">{{recipe.directions}}</p>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        

            <a class="btn btn-success" href="{{ url_for('show_all_recipes', page=page, search_terms=search_terms, cuisine_name=cuisine_name) }}">Go to list</a>
            <a class="btn btn-dark px-3 float-right ml-2" href="{{ url_for('delete_recipe', recipe_id=recipe._id, page=page, search_terms=search_terms, cuisine_name=cuisine_name) }}">Delete</a>
            <a class="btn btn-info px-4 float-right" href="{{ url_for('update_recipe', recipe_id=recipe._id, page=page, search_terms=search_terms, cuisine_name=cuisine_name) }}">Edit</a>
            
            <p class="comment h6">Leave a comment below</p>
        
            <!--Comments starts-->
            <div id="disqus_thread"></div>
            <!--comments ends-->
           
        </div>
    </div>
</section>
{% endblock %}

{%block js%}
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://cookbooks-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>                   
{% endblock %}
                            