{% extends 'layout.template.html' %}

{% block title %}CookBooks{% endblock %}

{%block content%}
<!--header starts-->
<section class="masthead">
	<div class="container-fluid py-5 homeBox">
        <div class="mastheadBox">

            
            <p class="text-center"><img src="static/img/logo.png" class="img-fluid px-3" alt="logo"></p>
            <br>
            <h2 class="text-center">Welcome to CookBooks!</h2>
            <br>
           
            <div class="row">
                <div class="col-sm">
                    <div class="btnPosition mx-auto">
                        <a href="{{url_for('submit_recipe')}}" class="button"><img src="{{ url_for('static', filename='img/pencil.png') }}" class="img-fluid"> Submit a Recipe</a>
                        <a href="{{url_for('show_all_recipes')}}" class="button px-4"><img src="{{ url_for('static', filename='img/good.png') }}" class="img-fluid"> View Recipes</a>
                    </div>
                </div>
            </div>
            <!--search engine ends-->
       
       

        </div>
	</div>
</section>
<!--header ends-->
{% endblock %}