 <!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--Fontawesome-->
	<script src="https://kit.fontawesome.com/0b10d58be2.js" crossorigin="anonymous"></script>
    <!--Linked to CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}" type="text/css"/>

	<title>{%block title%}{%endblock%}</title>
</head>

<body>
    <!--navbar starts-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('home')}}"><img src="{{ url_for('static', filename='img/cooking.png') }}" class="img-fluid px-2" alt="logo"> CookBooks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
        
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('submit_recipe')}}"><img src="{{ url_for('static', filename='img/pencil.png') }}" class="img-fluid px-2" alt="pencil-image">Submit a Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('show_all_recipes')}}"><img src="{{ url_for('static', filename='img/good.png') }}" class="img-fluid px-2" alt="thumbsip-image">View Recipes</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <!--navbar ends-->


	<!--Flash messages starts-->
    <div class="container flash-message" id="flashMSG">
      {% with messages = get_flashed_messages() %} 
      {% if messages %} 
        {% for m in messages %}
            <div class="alert alert-success">
                {{m}}
            </div>
        {% endfor %} 
      {%endif%} 
      {%endwith%}
    </div>
    <!--Flash messages ends-->


    <!--content block starts-->
    {%block content%}{%endblock%}
    <!--content block ends-->


	<!--footer starts-->
	<footer class="container-fluid py-3">
		<div class="row">
			<div class="col">
				<div class="copyright">Copyright <i class="fas fa-copyright"></i> 2020 CookBooks. All Rights Reserved
				</div>
			</div>
			<div class="col text-right">
				<p><a href="mailto:suchan5@hotmail.com" target="_blank"><i class="fas fa-envelope email"></i></a></p>
			</div>
		</div>
	</footer>
	<!--footer ends-->

    
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
	</script>


    <!--For flash messages to dissappear after some time-->
    <script>
    setTimeout(function() {
        $('#flashMSG').fadeOut();
    }, 3000);
    </script>


	{%block js%}{%endblock%}
</body>

</html>