{% extends 'layout.template.html' %}

{% block title %}Submit a Recipe{% endblock %}

{% block content %}
<section class="submission">
	<div class="container py-5">
		<div class="submitBox">

			<form method="POST">
				<h1 class="mb-5 text-center">Submit a recipe to share!</h1>
				<div class="pageBorder">
					    <div class="form-group">
						    <label>Recipe Title</label>
						    <input type="text" class="form-control" name="recipe-title" placeholder="E.g. Seafood Chowder"/>
                        </div>

						<div class="form-group">
							<label>About the recipe</label>
							<textarea class="form-control" name="about-recipe" placeholder="E.g. This recipe is passed down from my grandma!"></textarea>
						</div>

						<div class="form-group">
							<label>Ingredients</label>
							<textarea class="form-control" rows="5" name="ingredients" placeholder="E.g. ½ pound shrimp"></textarea>
						</div>

						<div class="form-group">
							<label>Directions</label>
							<textarea class="form-control" rows="10" name="directions" placeholder="E.g. 1. Melt butter in a saucepan over medium-low heat."></textarea>
						</div>

                        <div id="previewImg_div"></div>

						<a id="upload_widget" class="btn btn-warning mt-3">Upload Photo</a>
						<input type="hidden" id="uploaded_file_url" name="uploaded_file_url"/>
						
						<p id="uploaded_file_display" class="mt-3" style="display:none">Succesfully Uploaded :<span id="uploaded_file_name" class="text-muted"></span></p>
				</div>

				<div class="btnPosition">
					<input type="submit" value="Save" class="btn btn-info mt-5 px-4"/>
					<a class="btn btn-dark mt-5 px-3" href="{{ url_for('home') }}">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock %}

{%block js%}
<script type="text/javascript">
let myWidget = cloudinary.createUploadWidget({
    cloudName: '{{cloud_name}}', 
    uploadPreset: '{{upload_preset}}'}, (error, result) => { 
        if (!error && result && result.event === "success") { 
            console.log('Done! Here is the image info: ', result.info); 
            let fileURL = document.querySelector('#uploaded_file_url');
            fileURL.value = result.info.url;

            // To show a preview of the image which is going to be uploaded
            console.log(result.info.thumbnail_url)
            $('#previewImg_div').append(`<img src="${result.info.url}"/><br>`);

            // The uploaded file name to be shown upon uploading successfully
            let filenameDisplay = document.querySelector('#uploaded_file_display');
            //make it appear by setting it to display 'block'
            filenameDisplay.style.display = 'block';
            // fill in the uploaded file name
            let filenameDisplaySpan = document.querySelector("#uploaded_file_name");
            filenameDisplaySpan.innerText = result.info.original_filename;
        }
    }
);

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
}, false);      
</script>
{%endblock%}